.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: black;
    margin-bottom:10px;
}


.hero::before{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url("../../public/asserts/im3.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.25;
}


.hero-info{
    text-align: center;
    
}
.userList{
    flex: 4;  
    padding: 20px;
  }
.dataGrid{
    border-radius: 3px;
    border:1px red solid;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.2);
}