.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: black;
    margin-bottom:10px;
}


.hero::before{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url("../../public/asserts/hero.JPG");
    background-size: cover;
    background-position: center;
    opacity: 0.25;
}


.hero-info{
    text-align: center;
    
}